/* AUFGABE 1: 1>Paragraph 1 in der ersten Section */
/*
#sec1 .class-1 { 
   color: gold; 
}

/* AUFGABE 2: selektiere 3>Paragraph Z   */
/*
.blue #id3 .class-2 {
   color: gold;
}

/* AUFGABE 3: 2>Paragraph in erster und zweiter Section */
/*
#sec1 .class-2, #sec2 #id2 {
   color: gold;
}

/* AUFGABE 4: 3>Paragraph Z in der zweiten section */
/*
#sec2 #id3 .class-2 {
   color: gold;
}

/* AUFGABE 5: alle gruenen list items */
/*
.green li {
   color: gold;
}

/* AUFGABE 6: jeweils die ersten beiden list items */
/*
ul li:nth-child(-n + 2) {
    color: gold;
}

/* AUFGABE 7: jeweils die ersten beiden list items der blauen und gruenen section */
/*
.blue ul li:nth-child(-n + 2), .green ul li:nth-child(-n + 2) {
    color: gold;
}

/* AUFGABE 8: Paragraphs in den ersten beiden sections */
/*
#sec1 p, #sec2 p {
   color: gold;
}